@import "./reset.css";
body {
    font-family: 'Montserrat', sans-serif;
    color: #1E0801;
    background-color: #F4F4F4;
}
:root {
    --container-width: 1090px;
    --container-padding: 15px;
}
.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
}
.container-right {
    padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.header {
    overflow: hidden;
    position: relative;
    color: #fff;
}
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 80px;
    user-select: none;
    background: rgba(0,0,0,0.35);
    z-index: 999;
}
.menu {
    column-gap: 2.25rem;
    display: flex;
}
.menu li {
    display: inline-block;
}

    .menu a {
        display: inline-block;
        font-weight: 200;
        border-bottom: 2px solid transparent;
        font-family: 'Mulish', sans-serif;
        color: #FFFFFF;
        transition: 0.1s ease-in;
    }

        .menu a:hover {
            border-color: #DDA046;
        }

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.25rem;
}

.navbar-logo{
    min-width:30px;
}

.intro {
    width: 100%;
    height: 100vh;
    background: url("../img/header.png") center;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro__inner {
    max-width: 620px;
    background: linear-gradient(107.07deg, rgba(0, 0, 0, 0.5) 55.56%, rgba(0, 0, 0, 0) 90.25%);
    padding: 15px;
    border-radius: 16px;
    color: #FFFFFF;
}
.intro__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
}
.intro__suptitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #DDA046;
}
.slider__item {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.slider__btn {
    display: inline-block;
    background: linear-gradient(92.71deg, #C17024 0%, #DDA046 100%);
    border-radius: 40px;
    padding: 15px;
}
    .slider__btn:hover {
        background: linear-gradient(92.71deg, #DDA046 0%, #C17024 100%);
    }
.services {
    padding: 20px 15px 90px;
}
.slider{
    display: flex;
    column-gap: 30px;
}
.text-center {
    text-align: center;
}
.services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin:40px 0;
}
.owl-carousel .owl-stage-outer {
    max-width:920px;
}
.statistics {
    height: 215px;
    background: #1D1A14;
    padding: 0 var(--container-padding);
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-around;
}
.statistics__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding: 15px;
    column-gap: 15px;
}
.statistics__number {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #DDA046;
}