@import "./reset.css";
body {
    font-family: 'Montserrat', sans-serif;
    color: #1E0801;
    background-color: #F4F4F4;
}
:root {
    --container-width: 1090px;
    --container-padding: 15px;
}
.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
}

.header {
    overflow: hidden;
    position: relative;
    color: #fff;
}
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 80px;
    user-select: none;
    background: rgba(0,0,0,0.85);
    z-index: 999;
}
.menu {
    column-gap: 2.25rem;
    display: flex;
}
.menu li {
    display: inline-block;
}

    .menu a {
        display: inline-block;
        font-weight: 200;
        border-bottom: 2px solid transparent;
        font-family: 'Mulish', sans-serif;
        color: #FFFFFF;
        transition: 0.1s ease-in;
    }

        .menu a:hover {
            border-color: #DDA046;
        }

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.25rem;
}

.navbar-logo{
    min-width:30px;
}
.hamburger-menu {
    display: none;
}

.intro {
    width: 100%;
    height: 100vh;
    background: url("../img/header.png") center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro__inner {
    max-width: 620px;
    background: linear-gradient(107.07deg, rgba(0, 0, 0, 0.5) 55.56%, rgba(0, 0, 0, 0) 90.25%);
    padding: 15px;
    border-radius: 16px;
    color: #FFFFFF;
}
.intro__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
}
.intro__suptitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #DDA046;
}
.slider__item {
    min-width: 200px;
    display: flex;
    font-size: 18px;
    color: #FFFFFF;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    background: linear-gradient(180deg, #1d1a14 0%, #dda046 100%);
    border-radius: 10px;
}
.slider__btn {
    display: inline-block;
    background: linear-gradient(92.71deg, #C17024 0%, #DDA046 100%);
    border-radius: 40px;
    padding: 10px;
    font-size: 12px;
}
    .slider__btn:hover {
        background: linear-gradient(92.71deg, #DDA046 0%, #C17024 100%);
    }
.services {
    padding: var(--container-padding);
    padding-bottom: 80px;
}
.slider{
    display: flex;
    column-gap: 30px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 20px !important;
}
.text-center {
    text-align: center;
}
.services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 40px 0;
    text-align: center;
}
.owl-carousel .owl-stage-outer {
    max-width:920px;
}
.statistics {
    padding: 40px var(--container-padding);
    background: #1D1A14;
}
.statistics__container {
    display: grid;
    grid-template-columns: fit-content(400px) fit-content(400px) fit-content(400px);
    column-gap: 30px;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.statistics__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding: 15px;
    column-gap: 15px;
}
.statistics__number {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #DDA046;
}
.theses {
    padding: var(--container-padding);
    padding-bottom: 80px;
}
.theses__container {
    display: grid;
    grid-template-columns: fit-content(400px) fit-content(400px) fit-content(400px);
    column-gap: 30px;
    row-gap: 30px;
    width: 100%;
    justify-content: center;
}
.theses__item {
    display: flex;
    flex-direction: row;
    padding: 15px;
    column-gap: 15px;
    font-size: 14px;
}
.theses__img {
    width:43px;
    height:43px;
}
.theses__title {
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: 700;
    line-height: 16px;
}
.footer {
    background: #1D1A14;
    padding: var(--container-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__list {
    font-size: 14px;
    color: #FFFFFF;
    padding: 15px;
    font-family: 'Mulish', sans-serif;
}
    .footer__list a {
        display: inline-block;
        font-weight: 200;
        border-bottom: 2px solid transparent;
        color: #FFFFFF;
        transition: 0.1s ease-in;
        margin-top: 4px;
    }
    .footer__list h4 {
        display: inline-block;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 8px;
    }
        .footer__list a:hover {
            border-color: #DDA046;
        }
.footer__logo {
    min-width: 30px;
    margin: 15px;
    align-self: center
}
.contacts__img{
    margin-right:5px;
}

#menu__toggle {
    opacity: 0;
}

    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }

        #menu__toggle:checked + .menu__btn > span::before {
            top: 0;
            transform: rotate(0deg);
        }

        #menu__toggle:checked + .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
        }

    #menu__toggle:checked ~ .menu__box {
        right: 0 !important;
        border-bottom-left-radius: 10px;
    }

.menu__btn {
    position: fixed;
    top: 30px;
    right: 85px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #DDA046;
        transition-duration: .25s;
    }

        .menu__btn > span::before {
            content: '';
            top: -8px;
        }

        .menu__btn > span::after {
            content: '';
            top: 8px;
        }

.menu__box {
    display: block;
    position: fixed;
    top: 64px;
    right: -100%;
    width: 150px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: rgba(0,0,0,0.85);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    font-family: 'Mulish', sans-serif;
    color: #FFFFFF;
    font-weight: 200;
    text-decoration: none;
    transition-duration: .25s;
}

    .menu__item:hover {
        background: #DDA046;
    }

/*Media*/
@media (max-width: 950px){
    .owl-carousel .owl-stage-outer {
        max-width: 690px;
    }
    .statistics__container {
        column-gap: 0px;
    }

}

@media (max-width: 830px) {
    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}

@media (max-width: 780px) {
    .owl-carousel .owl-stage-outer {
        max-width: 690px;
    }
    .statistics__item {
        justify-content: initial;
        column-gap: 15px;
    }
    .statistics__container {
        grid-template-columns: initial;
    }
}
@media (max-width: 720px) {
    .theses__container {
        grid-template-columns: initial;
    }
}
@media (max-width: 640px) {
    .footer {
        flex-direction: column;
    }
    .footer__list {
        align-self: center;
        text-align: center;
    }
    .owl-carousel .owl-stage-outer {
        max-width: 450px;
    }
}
@media (max-width: 440px) {
    .owl-carousel .owl-stage-outer {
        max-width: 330px;
    }
}
}@media (pointer:coarse) {
        .menu {
            display: none;
        }

        .hamburger-menu {
            display: block;
        }
}